#banner {
    background-color: orange;
    color: whitesmoke;
    font-family: Helvetica Neue;
    font-size: 40px;
}

.section_banner {
    font-family: Helvetica Neue;
    font-size: 20px;
    background-color: orange;
    color: whitesmoke;
    width: 51.5%;
}

.info_section {
    font-family: Helvetica Neue;
    font-size: 16px;
    padding-left: 15px;
    width: 50%;
}

.calc_form {
    display: grid;
    /*float: left;*/
    width: 50%;
    grid-template-columns: 50% 30% 20%;
    overflow: hidden;
    padding-top: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
}

.col1 {
    text-align: right;
    padding-right: 10px;
}

label {
    font-family: Helvetica Neue;
    font-size: 12px;
}

.rounded {
    border-radius: 5px;
    border-width: 1px;
}