<!DOCTYPE html>
<html>
<head>
    <title>Resi-Fit Savings Plan Tools</title>
</head>
<body>
  <h1>Use this calculator to project the future value of your savings based on regular contributions.</h1>
    {% if fv['errors'] %}
        {% for param, error in fv['errors'].items() %}
            <h3>{{ error }}</h3>
        {% endfor %}
    {% endif %}
    <form method="get">
        <label for="fv_pv">Starting Balance:</label>
        <input type="text" id="fv_pv" name="fv_pv" value={{ fv['pv'] }}><br>
        <label for="fv_pmt">Contribution:</label>
        <input type="text" id="fv_pmt" name="fv_pmt" value={{ fv['pmt'] }}><br>
        <label for="fv_n">Number of Periods:</label>
        <input type="text" id="fv_n" name="fv_n" value={{ fv['n'] }}>
        <select id="fv_freq" name="fv_freq">
            <option value="years" {% if fv['freq'] == 'years' %} selected {% endif %}>years</option>
            <option value="months" {% if fv['freq'] == 'months' %} selected {% endif %}>months</option>
            <option value="days" {% if fv['freq'] == 'days' %} selected {% endif %}>days</option>
        </select><br>
        <label for="fv_rate">Anticipated Rate of Return (APR%):</label>
        <input type="text" id="fv_rate" name="fv_rate", value={{ fv['rate'] }}><br>
        <input type="submit" value="Submit"><br><br>
        {% if fv['val'] %}
            <label for="fv">Expected Savings Balance:</label>
            <input type="text" id="fv" name="fv", value={{ fv['val'] }}><br>
        {% endif %}
    </form>
    <br><br>
    <h1>This next calculator can be used to suggest a payment amount to make to hit a long term savings goal </h1>
    {% if pmt['errors'] %}
        {% for param, error in pmt['errors'].items() %}
            <h3>{{ error }}</h3>
        {% endfor %}
    {% endif %}
    <form method="get">
        <label for="pmt_pv">Starting Balance:</label>
        <input type="text" id="pmt_pv" name="pmt_pv", value={{ pmt['pv'] }}><br>
        <label for="pmt_fv">Desired Ending Savings Balance:</label>
        <input type="text" id="pmt_fv" name="pmt_fv", value={{ pmt['fv'] }}><br>
        <label for="pmt_n">Number of Periods:</label>
        <input type="text" id="pmt_n" name="pmt_n", value={{ pmt['n'] }}>
        <select id="pmt_freq" name="pmt_freq">
            <option value="years" {% if pmt['freq'] == 'years' %} selected {% endif %}>years</option>
            <option value="months" {% if pmt['freq'] == 'months' %} selected {% endif %}>months</option>
            <option value="days" {% if pmt['freq'] == 'days' %} selected {% endif %}>days</option>
        </select><br>
        <label for="pmt_rate">Anticipated Rate of Return:</label>
        <input type="text" id="pmt_rate" name="pmt_rate", value={{ pmt['rate'] }}><br>
        <input type="submit" value="Submit"><br><br>
        {% if pmt['val'] %}
            <label for="pmt">Required Savings Contribution:</label>
            <input type="text" id="pmt" name="pmt", value={{ pmt['val'] }}><br>
        {% endif %}
    </form>
</body>
</html>