<!DOCTYPE html>
<html>
<head>
    <title>Resi-Fit Savings Plan Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{#  <h1>Use this calculator to project the future value of your savings based on regular contributions.</h1>#}
    <div id="banner">RESI-FIT Financial Budgeting Tools</div>
    <p id="intro_section" class="info_section">Hi there! Welcome to the RESI-FIT Financial Budgeting Tools! We know that financial budgeting can be
        tough and our aim is to help you understand a few of the concepts while giving you the tools to begin
        your financial budgeting journey!
    </p>
    <div id="fv_calc_banner_1" class="section_banner">RESI-FIT Investment Balance Calculator</div>
    <p id="reasons_to_use_fv_calc", class="info_section">One way to budget financially or to plan for retirement is to project a future savings balance
        based on a current (present) investment amount and a regular contribution amount. This is a good
        approach to budgeting when you have a current amount of money that you would like to invest and
        also have a contribution amount in mind that you can make on a regular basis. You're not
        exactly interested in precise investment balance you will have at the end of your time frame;
        you know what you have now and you know what you can contribute. If this sounds like your
        situation, than the Investment Balance Caculator is a great tool for you to being with!
    </p>
    <div id="fv_how_to_banner" class="section_banner">So how do I use this thing?</div>
    <p id=fv_calc_mechanics" class="info_section">We need to make some assumptions about a few things like the number of periods we would
        like our investment to grow for as well as rate of return for which the growth will occur.
        We strongly encourage you to try a number of different inputs with the Investment Balance Calclulator
        so you can get an idea of how varying the different inputs will affect your Investment Balance.
        Generally speaking, increasing any of the inputs will result in a higher pre-tax investment balance.
        Increasing your tax rate will result in a lower after tax investment balance. Varying the
        frequency of contributions will also increase your projected investment balance. Why? Because
        the compounding of the return will happen more frequently. Essentially, one way of thinking
        is that you will be able to capture your rate of return more frequently and the compounding
        effect will happen more frequently. If you need more of an explanation, here is a link to
        to a good explanation: <a href="https://www.investopedia.com/terms/c/compoundinterest.asp">Compound Interest Investopedia</a>
    </p>
    <div id="cashflow_sign_banner", class="section_banner">Wait, why are some of these calculator values negative?</div>
    <p id="cashflow_sign_info", class="info_section">
        Further, a word is needed on how to supply the values for starting balance and expected
        contribution. In financial math, money paid into an investment is signified as a negative
        amount while money received from an investment is a positive amount. To illustrate, when
        using the Investment Balance Calculator if we specify a starting balance and a contribution
        amount that we plan to pay into the investment, we should specify those as negative amounts
        as, technically, it is money flowing out of our possession and into an investment. If we
        do this and then calculate our expected ending balance, our balance will be a positive
        amount signifying that we will receive this amount of money at the end of the investment.
        We know this can be confusing so here is a resource where you can practice specifying
        positive and negative cashflows: <a href="https://ecampusontario.pressbooks.pub/businessmath/chapter/cash-flow-using-signs-negatives-in-formulas/">Cashflow Sign Practice</a>
    </p>
    <div id="input_recs_banner" class="section_banner">Ok I'm ready. What values are realistic inputs?</div>
    <p id="fv_calc_input_recs" class="info_section">
        One more thing before we get started (sorry!). We want to choose realistic values for
        our calculator input parameters. As a matter of fact, the calculator will not let us put
        in certain values that do not make sense. Our input values largely must be numbers.
        We couldn't, for example, enter "dogs" as an input for expected rate of return. Along
        the same line, we should use a resonable number of periods. 30 years tends to be
        a pretty good input number for number of periods but we probably wouldn't want to
        something like 500 years. Why? Well, we probably wont be alive to collect on our investment!
        We can, of course, use that input just to see what would happen but it wouldn't really be a
        time frame for personal financial budgeting. Further, we want to use a reasonable rate of return
        What is a reasonable rate of return? Well, the S&P 500 is an index of 500 different US stocks
        which has averaged around an 8% annual rate of return, historically. That's a decent starting
        point. An unreasonable rate of return would be something like 100% annually. That's not a
        sustainable rate of return. We can see rates of return like that in short periods but
        they are often offset but lower subsequent rates of return. We also want to be conservative.
        We want to make sure we hit our goals and lofty expectation will not get us there!
    </p>
{#    <div id="fv_calc_focal_point"></div>#}
    {% if fv['submitted'] %}
        <div id="fv_calc_focal_point"></div>
    {% endif %}
    {% if fv['errors'] %}
        {% for param, error in fv['errors'].items() %}
            <h3 class="info_section">{{ error }}</h3>
        {% endfor %}
    {% endif %}
    <div id="fv_calc_banner_2" class="section_banner">
        RESI-FIT Investment Balance Calculator
    </div>
    <form method="get", id="fv_form", class="calc_form">
        <label for="fv_pv", class="col1">Starting Balance:</label>
        <input class="rounded" type="number" step="0.01" id="fv_pv" name="fv_pv" value={{ fv['pv'] }}>
        <div id="fv_place_holder_1"></div>
        <label for="fv_pmt", class="col1">Contribution:</label>
        <input class="rounded" type="number" step="0.01" id="fv_pmt" name="fv_pmt" value={{ fv['pmt'] }}>
        <div id="fv_place_holder_2"></div>
        <label for="fv_n", class="col1">Number of Periods:</label>
        <input class="rounded" type="number" min="0" step="0" id="fv_n" name="fv_n" value={{ fv['n'] }}>
        <select class="rounded" id="fv_freq" name="fv_freq">
            <option value="years" {% if fv['freq'] == 'years' %} selected {% endif %}>years</option>
            <option value="months" {% if fv['freq'] == 'months' %} selected {% endif %}>months</option>
            <option value="days" {% if fv['freq'] == 'days' %} selected {% endif %}>days</option>
        </select>
        <label for="fv_rate", class="col1">Expected Rate of Return (APR%):</label>
        <input class="rounded" type="number" min="0" step="0.01" id="fv_rate" name="fv_rate", value={{ fv['rate'] }}>
        <div id="fv_place_holder_3"></div>
        <label for="fv_tax_rate", class="col1">Expected Tax Rate (%):</label>
        <input class="rounded" type="number" min=0 step="0.01" id="fv_tax_rate" name="fv_tax_rate", value={{ fv['tax_rate'] }}>
        <div id="fv_place_holder_4"></div>
        <div id="fv_place_holder_5"></div>
        <input id="fv_submitted" name="fv_submitted" type="hidden" value="#fv_calc_focal_point">
        <input type="submit" value="Calculate"><br><br>
        {% if fv['pre_tax_val'] and fv['after_tax_val'] %}
            <label for="pre_tax_fv" class="col1">Expected Savings Balance Pre Tax:</label>
            <input class="rounded" type="text" id="pre_tax_fv" name="pre_tax_fv" readonly value={{ fv['pre_tax_val'] }}><br>
            <label for="after_tax_fv" class="col1">Expected Savings Balance After Tax:</label>
            <input class="rounded" type="text" id="after_tax_fv" name="after_tax_fv" readyonly value={{ fv['after_tax_val'] }}><br>
            <label for="total_tax_fv" class="col1">Total Tax Paid:</label>
            <input class="rounded" type="text" id="total_tax_fv" name="total_tax_fv" readonly value={{ fv['total_tax_val'] }}><br>
        {% endif %}

    </form>
    <br><br>
    <div id="pmt_calc_banner_1", class="section_banner">RESI-FIT Investment Contribution Calculator</div>
    <p id="pmt_calc_use_cases", class="info_section">
        The Investment Balance Calculator is all well and good but what if you have a specfic
        ending investment balance in mind that you want to target? You have some flexibility
        on an initial investment amount as well as how much you can contribute periodically
        but you are dead-set on hitting a target investment balance whether that be for retirement,
        college savings, car savings, etc. Sound like you? Well, we have a calculator for that!
        With the Investment Contribution Calculator, you can specify a starting investment
        and an ending investment balance and the tool will calculate a targeted contribution
        amount to achieve the desired ending balance. As with the Investment Balance Calculator,
        we will need to supply a few inputs such as number of periods and expected rate of return.
        Generally speaking, increasing the current balance, number of periods or expected rate
        of return will lower the targeted contribution amount. Raising the ending investment balance
        will raise the targeted contribution amount.
    </p>
    <div id="pmt_cashflow_sign_banner", class="section_banner">Do I need to use +/- signs for cashflows again?</div>
    <p id="pmt_cashflow_sign_info", class="info_section">
        Just like with the Investment Balance Calculator, we will need to specify positive and
        negative signs for our cashflows. If we are calculating an expected contribution amount
        where we are investing some money upfront and are also specifying a required ending balance
        our starting balance would be negative as that would represent money going into the investment
        and our required ending balance would be positive as it would represent money that we take
        away from the investment at the end of our time period. Now what about our expected contribution
        amount? Will that be a positive or negative? Well, it probably should be a negative if you have
        properly specified your other parameters indicating that you will need to invest a certain amount
        per period to hit your required ending balance. But it might not be negative if, for example,
        you have an ending balance less than your starting balance. A good exercise would be to play
        around with the tool and see how the different inputs affect the sign of the expected contribution amount!
    </p>
    {% if pmt['submitted'] %}
        <div id="pmt_calc_focal_point"></div>
    {% endif %}
    {% if pmt['errors'] %}
        {% for param, error in pmt['errors'].items() %}
            <h3 class="info_section">{{ error }}</h3>
        {% endfor %}
    {% endif %}
    <div id="pmt_calc_banner_2" class="section_banner">
        RESI-FIT Investment Contribution Calculator
    </div>
    <form method="get" id="pmt_form" class="calc_form">
        <label for="pmt_pv" class="col1">Starting Balance:</label>
        <input class="rounded" type="number" step="0.01" id="pmt_pv" name="pmt_pv", value={{ pmt['pv'] }}>
        <div id="pmt_place_holder_1"></div>
        <label for="pmt_fv" class="col1">Desired Ending Savings Balance:</label>
        <input class="rounded" type="number" step="0.01" id="pmt_fv" name="pmt_fv", value={{ pmt['fv'] }}>
        <div id="pmt_place_holder_2"></div>
        <label for="pmt_n" class="col1">Number of Periods:</label>
        <input class="rounded" type="number" min="0" step="0" id="pmt_n" name="pmt_n", value={{ pmt['n'] }}>
        <select class="rounded" id="pmt_freq" name="pmt_freq">
            <option value="years" {% if pmt['freq'] == 'years' %} selected {% endif %}>years</option>
            <option value="months" {% if pmt['freq'] == 'months' %} selected {% endif %}>months</option>
            <option value="days" {% if pmt['freq'] == 'days' %} selected {% endif %}>days</option>
        </select>
        <label for="pmt_rate" class="col1">Expected Rate of Return (APR%):</label>
        <input class="rounded" type="number" min="0" step="0.01" id="pmt_rate" name="pmt_rate", value={{ pmt['rate'] }}>
        <div id="pmt_place_holder_4"></div>
        <label for="pmt_tax_rate" class="col1">Expected Tax Rate (%):</label>
        <input class="rounded" type="number" min="0" step="0.01" id="pmt_tax_rate" name="pmt_tax_rate", value={{ pmt['tax_rate'] }}>
        <div id="pmt_place_holder_4"></div>
        <div id="pmt_place_holder_5"></div>
        <input id="pmt_submitted" name="pmt_submitted" type="hidden" value="True">
        <input type="submit" value="Calculate"><br><br>
        {% if pmt['pre_tax_val'] and pmt['after_tax_val'] %}
            <label for="pre_tax_pmt" class="col1">Required Savings Contribution (Pre Tax):</label>
            <input class="rounded" type="text" id="pre_tax_pmt" name="pre_tax_pmt" readonly value={{ pmt['pre_tax_val'] }}><br>
            <label for="after_tax_pmt" class="col1">Required Savings Contribution (After Tax):</label>
            <input class="rounded" type="text" id="after_tax_pmt" name="after_tax_pmt" readonly value={{ pmt['after_tax_val'] }}><br>
            <label for="total_tax_pmt" class="col1">Total Tax Paid:</label>
            <input class="rounded" type="text" id="total_tax_pmt" name="total_tax_pmt" readonly value={{ pmt['total_tax_val'] }}><br>
        {% endif %}
    </form>
    <br>

    <div id="assumptions_banner" class="section_banner">Assumptions and Definitions</div>
    <p id="assumptions_section" class="info_section">
        1. <b>Compounding -</b> Our tools assume that the investor will be compounding their rate of return
        at the specified period in the drop-down (years, months, days, etc.) The means
        that we expect the user will reinvest their earnings at the expected rate of return.
        It also means that the investor is not expected to make any withdrawals prior to hitting
        the investment target. Lastly, we assume that the investor will invest any cashflows in the account
        (dividends, etc.) at the expected rate of return.<br><br>
        2. <b>APR - Annual Percentage Rate.</b> This is the rate of return we expect the investment to earn on
        an annual basis. This number should be net of any fees that will be charged to the account
        so that our projections will be more accurate. More on APR in the following link:
        <a href="https://www.investopedia.com/terms/a/apr.asp">Investopedia APR Article</a><br><br>
        3.  Our calculators don't allow investors to input negative rates. As we saw at different periods
        thoughout 2009 - 2022, it is entirely possible for investments to have negative interest rates for extended periods
        or time, particularly government debt. That said, it doesn't make any sense to invest in something
        that pays a negative rate of return and we discourage using negative rates as an investment rate of return.
        When investing in a security with a negative rate of return, you essentially make an investment and then
        instead of getting paid a rate of return, you pay the rate of return! This is not a sound investment plan
        and is a sure fire way to financial ruin!
    </p>

</body>

{% block script %}
    <script src="{{url_for('static', filename='resifit.js')}}"></script>
{% endblock %}
</html>